@import "../../../scss/vars.scss";

.root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100%;

  @media (max-width: $screen-md) {
    display: inline-block;
    background: var(--white);
    width: calc(100% + 2rem); // grow container background color to screen edge
    margin: 0 -1rem;
    padding: 0 1rem;

    h3 {
      margin-bottom: -2rem;
    }
  }
}

.inquiryTable {
  position: relative;
}

.productTitle {
  margin-top: 2rem;

  @media (min-width: $screen-md) {
    padding: 0 var(--horizontal-sidebar-spacing);
    margin-top: 3rem;
  }

  @media (max-width: $screen-md) {
    margin: 0;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;

  tr {
    margin-bottom: 0.4rem;
  }

  th,
  td {
    padding: 0 1rem;
    display: table-cell;
    vertical-align: top;
    font-size: 0.9rem;

    @media (min-width: $screen-md) {
      padding: 0;
    }
  }

  th {
    padding-left: var(--horizontal-sidebar-spacing);
  }

  td {
    padding-right: var(--horizontal-sidebar-spacing);
    text-align: right;
  }
}

.specRow {
  &:first-child {
    th,
    td {
      padding-top: 1rem;
    }
  }

  th {
    text-align: left;
    font-weight: 500;
    color: #787878;

    h4 {
      font-weight: 700;
      margin-bottom: 5px;
    }
  }

  td {
    font-weight: 700;
    width: 50%;
  }

  th {
    width: 75%;
  }
}

.tableTitle {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--black);
  margin-top: 1rem;

  &.tableTitleFirst {
    margin-top: 0;
  }
}

.totalAmount {
  .amountColumn,
  .tableTitle {
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .amountColumn {
    border-top: 1px solid;
  }
}

.mailTo {
  @media (max-width: $screen-md) {
    padding: 0.5rem 0;
    margin-left: -0.5rem; //v-algin to overwrite button styling
  }
}

.contact {
  margin: auto 0 1.5rem;
}

.header {
  background-color: #2f3033;
  border-radius: 3px 3px 0 0;

  :global {
    table {
      width: 100%;
      color: #fff;

      tr {
        th {
          color: #fff;
          font-weight: normal;
          padding-top: 1rem;
          padding-bottom: 1rem;

          @media (min-width: $screen-md) {
            width: 62%;
          }
        }

        td {
          color: #fff;
          width: 100%;
          padding: 1rem;
          background-color: #403e46;
          font-size: 20px;
          font-weight: 700;

          @media (min-width: $screen-md) {
            width: 38%;
            padding: 1rem 60px;
          }
        }
      }
    }
  }
}

.amountColumn {
  :global {
    .Price {
      font-size: 0.9rem;
    }
  }
}
