@import "../../../scss/vars.scss";

.root {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $screen-md) {
    width: 100%;
  }
}

.content {
    flex-shrink: 0;
}

.productImage {
  @media (min-width: $screen-md) {
    display: none;
  }

  img {
    max-width: 12rem;
    max-height: 12rem;
  }
}
.productTitle {
  font-size: 1.15rem;
  font-weight: 900;
  text-transform: uppercase;

  @media (min-width: $screen-md) {
    font-size: 1.25rem;
  }
}

.productTitleTop {
  display: flex;
  align-items: center;
}

.productSubtitle {
  display: block;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $screen-md) {
    font-size: 1rem;
  }
}
