.btn {
  background-color: transparent;
  color: var(--gray-600);
  gap: 0.25rem;
  padding-left: 0;
  padding-right: 0;
  transition: text-decoration 0.25s;
  text-decoration: underline 0.1rem transparent;
  text-underline-offset: 0.4rem;

  &:hover {
    background-color: transparent;
    text-decoration: underline 0.1rem var(--black);
  }

  i {
    font-size: 0.8rem;
  }
}

.modalContent {
  margin-bottom: 2rem;
}
