@import "../../../scss/vars.scss";

.phonenumber {
  font-size: 0.85rem;
  color: white;
  font-family: var(--secondary-font);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $screen-xs) {
    font-size: 1.1rem;
  }

  @media (min-width: $screen-md) {
    font-size: 1.2rem;
    display: block;
  }
}
