@import "../.../../../../scss/vars.scss";

.addition {
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-left: 0;
  justify-content: space-between;
  padding: 1rem 1rem 1.5rem;
  flex-direction: column;

  @media (min-width: $screen-sm) {
    padding: 1rem 2rem 1.5rem;
  }

  @media (min-width: $screen-md) {
    flex-direction: row;
    flex: 0 0 33%;
    padding: 1rem 1.5rem 1.5rem;
  }

  @media (max-width: ($screen-sm)) {
    flex-direction: column;
    border-radius: 0.5rem;
  }
}

.display {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  @media (min-width: $screen-md) {
    margin-bottom: 0;
    padding-right: 2rem;
  }

  @media (max-width: ($screen-md)) {
    flex-direction: column;
    align-items: center;
  }
}

.description {
  font-size: 0.95rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;

  &[data-active="true"] {
    height: unset;
    -webkit-line-clamp: unset;
  }
}

.price{
  color: var(--gray-800);
}

.readmore {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: underline;
  color: var(--gray-500);

  span {
    &:first-of-type {
      display: none;
    }
  }

  &[data-active="true"] {
    span {
      &:first-of-type {
        display: inline;
      }

      &:last-child {
        display: none;
      }
    }
  }

  @media (max-width: ($screen-sm)) {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    font-weight: 400;
  }
}

.name {
  justify-self: left;
  font-size: 1.1rem;
  font-weight: bold;
}

.content {
  @media (max-width: ($screen-md)) {
    margin-top: 1rem;
  }
}

.image {
  flex-shrink: 0;
  align-self: flex-start;
  background-color: var(--offwhite);
  border-radius: 3px;
  margin-right: 1rem;
  height: 6rem;
  width: 6rem;
  object-fit: contain;

  @media (max-width: ($screen-md)) {
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
  }
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  @media (max-width: ($screen-md)) {
    flex-direction: row;
  }
}

.productNr {
  font-size: 0.75rem;
  color: var(--gray-400);
}
