@import "../../../scss/vars.scss";

.contact {
  color: var(--gray-400);
  font-size: 0.8rem;
  line-height: 1.3;

  @media (min-width: $screen-xs) {
    font-size: 0.9rem;
  }

  @media (min-width: $screen-md) {
    font-size: 1rem;
  }
}

.iconwrapper {
  display: table-cell;
  width: 2rem;

  @media (min-width: $screen-xs) {
    font-size: 2.5rem;
  }

  @media (min-width: $screen-md) {
    width: 3.5rem;
  }
}

.contactIconBtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  background-color: #37373c;
  border: 1px solid;
  border-color: var(--black);
  text-align: center;
  margin-right: 0.5rem;

  &:hover {
    background-color: var(--red);
    border-color: var(--red);
  }

  @media (min-width: $screen-md) {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.contactInfo {
  display: table-cell;
  vertical-align: middle;
}

.contactIcon {
  position: relative;
  font-size: 1rem;
  color: var(--white);

  @media (min-width: $screen-md) {
    font-size: 1.25rem;
  }
}

/*  Variant
\*----------------------------------------------------------------------------*/
.contact--inline {
  margin-top: 2rem;
  padding: 0 var(--horizontal-sidebar-spacing);
  color: var(--gray-light);

  .iconwrapper {
    width: 2.5rem;
  }

  .contactIconBtn {
    width: 1.75rem;
    height: 1.75rem;
  }

  .contactInfo {
    a {
      color: var(--black);
      font-size: 1rem;
      text-decoration: none;
      font-weight: 800;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
