.amountField {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
  background-color: var(--white);
  font-size: 14px;
  display: flex;
  flex-wrap: nowrap;
}

.counter {
  height: 2.5rem;
  border-left: 1px solid var(--gray-300);
  background-color: var(--white);
  border-bottom: 1px solid var(--gray-200);
  width: 1.6rem;

  &:first-of-type {
    border-left: none;
    border-right: 1px solid var(--gray-300);
  }

  button {
    font-size: 1.125em;
    background: var(--white);
    font-weight: bold;
    transition: all 200ms;
    line-height: 1;
    font-family: Courier, monospace;

    &:first-child {
      border-bottom: 1px solid var(--gray-300);
    }

    &:hover {
      background-color: var(--red);
      color: #fff;
    }
  }
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.25em;
  width: 2.5rem;
  transform: translateY(1px); //h-align
  -moz-appearance: textfield;
  font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}