@import "../../../scss/vars.scss";

.grid {
  display: grid;
  grid-template-areas:
    "sidebar"
    "intro"
    "product";

  > *:nth-child(1) {
    grid-area: sidebar;
    background-color: var(--offwhite);
  }

  > *:nth-child(2) {
    grid-area: intro;
  }

  > *:nth-child(3) {
    grid-area: product;
    padding-bottom: var(--bottom-bar-spacing);
  }

  @media (min-width: $screen-md) {
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: minmax(100px, max-content) 1fr;
    grid-template-areas:
      "sidebar intro"
      "sidebar  product";
    min-height: calc(100vh - 100px);

    > *:nth-child(1) {
      grid-area: sidebar;
      padding-bottom: var(--bottom-bar-spacing);
    }

    > *:nth-child(2) {
      grid-area: intro;
    }

    > *:nth-child(3) {
      grid-area: product;
      background-color: var(--gray-100);
    }
  }
}
