@import "../../../scss/vars.scss";

.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  background-color: var(--red);
  font-family: var(--secondary-font);
  font-weight: 500;
  border-style: none;
  border-radius: var(--border-sm);
  border-color: var(--red);
  color: var(--white);
  padding: 0.8rem;
  line-height: 1.2;
  z-index: 1;
  overflow: hidden;
  transition: all 100ms;

  @media (min-width: $screen-md) {
    padding: 1rem 1.5rem;
  }

  :global {
    .icon {
      margin-left: 0.5rem;
    }

    .desktop-only ~ .icon {
        @media (max-width: ($screen-md - 1px)) {
            margin-left: 0;
        }
    }
  }

  &:hover {
    background-color: var(--red-dark);
  }

  &:disabled,
  &.button--loading {
    pointer-events: none;
    opacity: 0.5;
  }

  &.button--loading {
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 4px;
      background-color: var(--gray-600);
      width: 100%;
      left: 0;
      transform: scale(0, 1);
      animation: loading;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      transform-origin: 0% 100%;
    }
  }
}

@keyframes loading {
  0% {
    transform: scale(0, 1);
    transform-origin: 0% 100%;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: 0% 100%;
  }

  51% {
    transform-origin: 100% 100%;
  }

  100% {
    transform: scale(0, 1);
    transform-origin: 100% 100%;
  }
}
