@import "../../../scss/vars.scss";

.tooltip {
  position: relative;
  display: flex;
  align-items: center;

  &.tooltip--hover {
    :global {
      .InfoIcon {
        &:before {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      .Window {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
    }
  }
}

.window {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  background-color: #ffe5ba;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: normal;
  box-shadow: 0 0 2rem 10px rgba(173, 173, 173, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 200ms opacity, 200ms visibility, transform 200ms;
  transform: translateY(0.4rem);
  display: flex;

  .windowIcon {
    flex: 0 0 auto;
    margin-right: 0.85rem;

    :global {
      .Icon {
        font-size: 2rem !important;
      }
    }
  }
}

.modalImage {
  position: relative;
  max-width: 100%;
  object-fit: cover;

  @media (min-width: $screen-lg) {
    max-width: 25%;
    right: -3rem;
  }
}

.modalContent {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-lg) {
    flex-direction: row;
  }
}

.infoIcon {
  position: relative;
  border-radius: 100%;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  color: #fff;
  margin-left: 0.6rem;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: 0.6rem solid #ffe5ba;
    position: absolute;
    bottom: calc(100% + 4px);
    left: 50%;
    margin-left: -0.6rem;
    opacity: 0;
    transition: opacity 200ms, transform 200ms;
    transform: translateY(0.4rem);
    pointer-events: none;
  }

  &.textVersion {
    color: var(--gray-500);
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0;
    margin: 0.5rem 0 0;

    &::before {
      content: "";
      display: inline-block;
      background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNDggNDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4IDQ4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIGQ9Ik0xNS40LDQ0bC0yLjgtMi44TDI5LjgsMjRMMTIuNiw2LjhMMTUuNCw0bDIwLDIwTDE1LjQsNDR6Ii8+Cjwvc3ZnPgo=);
      width: 0.7rem;
      height: 0.7rem;
      margin-right: 0.25rem;
    }
  }
}

.tooltipLabel {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--black);

  i {
    font-size: 0.8em;
  }
}
