.rc-slider-rail {
  background-color: #36363c;
  height: 10px;
  z-index: 1;
  margin-top: -1px;
  margin-bottom: -1px;
  transition: all 200ms;
}

.rc-slider-track {
  background-color: #e2001a;
  height: 8px;
  z-index: 1;
  transition: all 200ms;
}

.rc-slider-handle {
  transition: all 200ms;
  height: 1.75rem;
  width: 1rem;
  border-radius: 0.45rem;
  margin-top: -12px;
  border: none;
  // box-shadow: 0 1px 0px 2px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 0 4px #26262b;
  opacity: 1;
  z-index: 2;

  &:before,
  &:after {
    content: "";
    height: 0.875rem;
    width: 2px;
    background-color: var(--gray-300);
    position: absolute;
    top: 7px;
    left: 4px;
  }

  &:after {
    left: 9px;
  }

  &.rc-slider-handle-dragging,
    &.rc-slider-handle-dragging.rc-slider-handle-dragging, //ugly but it is wat it is
    &:hover,
    &:focus {
    box-shadow: 0 0 0 5px #26262b;
    border: none;

    &.rc-slider-handle-dragging {
      box-shadow: 0 0 0 5px #26262b;
    }
  }

  &:focus {
    box-shadow: 0 0 0 5px #26262b;
  }

  span {
    white-space: nowrap;
    position: absolute;
    top: -1.75rem;
    left: -0.625rem;
    color: var(--gray-800);
    font-size: 0.85rem;
    font-weight: 600;
  }
}

.rc-slider-dot-active {
  top: -0.5rem;
  display: inline;
}

.rc-slider-dot {
  width: 1px;
  height: 1rem;
  background-color: #dcdcdc;
  border-radius: none;
  border: none;
  top: 0.5rem;
  transform: translateY(3rem);
  display: none;

  &.rc-slider-dot-active {
    border: none;

    &:last-of-type {
      display: inline-block;
    }
  }

  &:first-of-type,
  &:last-of-type {
    display: inline-block;
  }
}

.rc-slider-mark {
  color: var(--gray-300);
  font-size: 0.85rem;
  white-space: nowrap;
  top: unset;
  bottom: -0.8rem;
}

.rc-slider-mark-text {
  display: none;

  &:last-of-type {
    display: inline-block;
  }
}

.rc-slider-mark-text-active {
  display: none;

  color: var(--gray-400);
  &:first-of-type {
    display: inline-block;
  }
}
