@import "../../../scss/vars.scss";

.container {
  background: var(--white);
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: var(--border-sm);
  margin-bottom: 1rem;

  @media (min-width: $screen-md) {
    border-radius: 0;
    margin: unset;
    background: var(--gray-100);
    padding: 1rem 2rem 2rem;
    border-bottom: 1px solid var(--gray-300);
  }
}

.image {
  width: 6rem;

  @media (min-width: $screen-md) {
    width: 10rem;
    margin: 0 1rem;
  }
}

.content {
  flex-grow: 1;

  @media (max-width: $screen-md) {
    p,
    li {
      font-size: 0.9rem;
    }
  }
}

.usps {
  padding-left: 1rem;
  list-style-position: outside;
  list-style-type: disc;

  li::marker {
    color: var(--red);
  }

  @media (min-width: $screen-md) {
    li {
      padding-left: 0.5rem;
    }
  }
}

.toggle::before {
  background: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgNDggNDgiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4IDQ4OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIHN0cm9rZT0iI0UzMDUxMyIgc3Ryb2tlLXdpZHRoPSIyIiBmaWxsPSIjRTMwNTEzIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0xNS40LDQ0bC0yLjgtMi44TDI5LjgsMjRMMTIuNiw2LjhMMTUuNCw0bDIwLDIwTDE1LjQsNDR6Ii8+Cjwvc3ZnPg==");
}

.bottom {
  display: flex;
  justify-content: space-between;

  button {
    margin-left: auto;

    @media (min-width: $screen-md) {
      padding: 0.6rem 0.8rem;
    }
  }
}
