@import "../../../scss/vars.scss";

.modal {
    position: relative;

    p~h1,
    p~h2,
    p~h3 {
        margin-top: 2rem;
    }
}

.modal__content {
    width: 100%;
    max-width: 560px;
    max-height: calc(100vh - 6rem);
    max-height: calc(100dvh - 6rem);
    padding: 3rem 1.5rem 2rem;
    background: var(--white);
    border-radius: 10px;
    overflow: auto;

    @media (min-width: $screen-md) {
        padding: 4rem 3rem 2rem;
    }
}

.modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--gray-600);

    i {
        font-size: 24px;
    }
}

.modal__btn {
    display: table;
    border-radius: 0.25rem;
    padding: 0;
    color: var(--white);
    background-color: var(--green);
    transition: background-color 100ms;

    &:hover {
        background-color: var(--green-dark);

        [class*="modal__check"] {
            background-color: var(--green-darkest);
        }
    }

    span {
        display: table-cell;
        font-weight: 600;
        padding: 0.6rem 1rem 0.6rem 0.6rem;
    }
}

.modal__check {
    display: table-cell;
    width: 2.5rem;
    font-size: 1.2rem;
    border-radius: 0.25rem 0 0 0.25rem;
    background-color: var(--green-darker);
    transition: background-color 100ms;

    svg {
        position: relative;
        top: 3px;
    }
}