@import "../../../scss/vars.scss";

.accordion {
  margin: 2rem 0 0;
  margin-left: calc(-1 * var(--container-spacing));
  margin-right: calc(-1 * var(--container-spacing));

  @media (min-width: $screen-md) {
    margin: 3rem 0 0;
  }
}
